.container {
  background-color: rgba(240, 128, 128, 0.2);
  min-height: 100vh;
  padding-bottom: 100px;
}

.icon {
  margin-right: 3px;
}

.logo {
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  &:active {
    color: rgba(255, 255, 255, 1);
  }
}

.main-container {
  margin: 50px auto 0;
  padding: 0 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-height: 50vh;

  background-color: white;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
