.bar {
  width: calc((40em - 40px) / 4 * 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: white;
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.graph {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
