<ng-container *ngIf="store.graphs$$.value.length > 0; else loader">
  <div class="container" *ngFor="let graph of store.graphs$$.value">
    <h3 class="title">{{ graph.name }}</h3>
    <div class="graph">
      <div *ngFor="let value of graph.chartValues; let i = index">
        <div class="columns">
          <div
            [style.height]="value * 3 + 'px'"
            [style.backgroundColor]="setCollumsColor(graph.chartValues, value)"
            class="bar"
          >
            {{ value | number: "1.0-1" }}
          </div>
          <h3 class="title">{{ graph.chartKeys[i] }}</h3>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
